extends layout

block content
  .row
    .card-columns.white-bgd.card-shadow.col-xs-10.col-md-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      .card
        .row.card-header
          h1.card-title.text-center= title
          img#toy.img-fluid.center-block.animated.jello(src="/images/toy.svg", alt="Image of cat toy")
          img#logo.img-fluid.center-block.animated.jello(src="/images/keety.png", alt="Image of cat playing")
        .row.card-block
            p.primary-text.text-center Click below to get a keety.
        .row.card-block
          .col-md-6.col-centered
            a#kitty.btn-a.text-center(href="#" onClick="playSound()")
              .btn.charcoal-bgd.btn-primary.center-block
                p Gimmeh keety pls
  script.
    function playSound() {
      var path = "/images/cat.mp3";
      var sound = new Audio(path);
      sound.addEventListener('ended', redirectHandler, false);
      sound.play();
    }

    function redirectHandler() {
      window.location = "/meow";
    }
