extends layout

block content
  .row
    .card-columns.white-bgd.card-shadow.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      .card
        .row.card-header
          a(href="/", style="text-decoration: none")
            h1.card-title.text-center= title
          p.primary-text.text-center Your random keety is below.
          p.primary-text.text-center Wait to load, click the button below for more.
        .row.card-block
          #loader
          img.img-responsive.center-block.animated.jello.hidden#kitty-img(src="#{link}", alt="Gif of random cat")
        .row.card-block
          .col-md-6.col-centered
            p.primary-text.primary-color.text-center= clue
            audio#sound(src="/images/another1.mp3", onended="redirectHandler()", controls="false", hidden)
            button#kitty.btn.charcoal-bgd.btn-primary.text-center.center-block(onClick="#{views} < 3 ? sound.play() : redirectHandler()") Anotha 1!
  script.
    var sound = document.getElementById('sound');

    function redirectHandler() {
      window.location.href = window.location.href;
    }

    $(window).on( "load", function() {
      $('#loader').addClass('hidden');
      $('#kitty-img').removeClass('hidden');
    });
